@{
    ViewData["Title"] = "Desafio MundiPagg";
}
<br /><br />
<h1>Utilizacao:</h1>

<h3>
    API de entrada:
</h3>
    /api/censo/{estado}
<br />
    Onde estado é a UF (RJ,MG,AC, etc...)
<br /><br />
<h2>
    Controle de templates
</h2>

        As Templates são criadas independentemente dos Estados que as utilizaram para permitir reutilização de templates,
        Após a criação de template ela pode ser associada a quantos Estados forem necessários através da API de Estados (States)
        ou pela interface Web
<br />
<h3>
    API REST:
</h3>

            /api/templates/{templateId}<br />
            /api/states/{stateId}<br /><br />


<h3>Interface Web:</h3>

            /templates<br />

            /states<br /><br />
